body{
	background-color: #f8f8f8;
}
.navbar-wrapper .container{
	padding: 0;
}
.marketing .row{
	background-color: #fff !important;
}
.marketing .row .list1{
	display:flex;
	flex-flow:row wrap;
}
.marketing .row .pageBox{
	padding:10px 0;
	text-align: center;
}
.navbar{
	background-color: #fff;
}
.page-header{
	color: #fd4c5d;
}
a {
    color: #fd4c5d;
    text-decoration: none;
}
/*.navbar-inverse .navbar-nav>.active>a{
	color: #333;
	background-color: #fff;
}
.navbar-inverse .navbar-nav>.active:hover>a{
	color: #fd4c5d;
	background-color: #fff;
}
.navbar-inverse .navbar-nav>.active:link>a{
	color: #333;
	background-color: #fff;
}*/
/*.navbar-inverse .navbar-nav>li>a{
	color: #333;
}
.navbar-inverse .navbar-nav>li:hover>a{
    color: #fd4c5d;
}
.navbar-inverse .navbar-nav>li:link>a{
    color: #fd4c5d;
}
.navbar-inverse .navbar-nav>li:active>a{
    color: #fd4c5d;
}
.navbar-inverse .navbar-nav>li:visited>a{
    color: #333;
}
.navbar-inverse .navbar-nav>li:focus>a{
    color: #333;
}

*//*.navbar-inverse .navbar-toggle{
	border-color: #fd4c5d;
	background-color: #fd4c5d;
}
 .navbar-inverse .navbar-toggle:focus{
	background-color: #fff;
}
.navbar-inverse .navbar-toggle:hover{
	background-color: #fd4c5d;
}
.navbar-inverse .navbar-toggle:active{
	background-color: #fd4c5d;
}*/
.navbar .navbar-brand{
	padding: 8px 0 12px 35px;
}
.navbar-left .btn{
	padding: 0;
}
.featurette-divider{
	margin: 40px 0;
}
.col-lg-2{
	width: 190px;
	height: 300px;
	border: 0;
	margin-right: 3px;
}
.btn{
	bottom: 5px;
}
.jumbotron img{
	width: 40%;
	height: 60%;
	padding: 0 15px;
	float:left;
}
.jumbotron .text{
	float:left;
}
.navbar-right{
	margin-right: 15px;
}
.navbar-right a{
	border-radius: 50%;
}
.navbar-toggle{
	background-color: #fd4c5d;
}
.icon-bar{
	background-color: #fff;
}
.height50{
	height: 50px;
}
.page-header > h1{
	padding-left: 50px;
}